.container-sign {
    background-color: #1f1c2c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.sign {
    background-color: #928dab;  
    padding: 30px;               
    border-radius: 10px;      
    box-shadow: 0px 0px 20px rgba(146, 141, 171, 0.3);
    width: 350px;                
    text-align: center;         
}

.sign-title {
    color: #1f1c2c;
    font-weight: bold;
    font-size: 35px;
    padding-bottom: 30px;
}

.sign-input {
    width: 100%;                
    padding: 12px;         
    margin-bottom: 12px;     
    border-radius: 5px;    
    border: 1px solid #1f1c2c; 
}

.sign-button {
    width: 100%;             
    padding: 15px;              
    border-radius: 5px;        
    background-color: #1f1c2c;  
    color: white;          
    border: none;  
    cursor: pointer;  
    margin-bottom: 15px;  
}

.sign-button:hover {
    background-color: #3a3849;
}

.sign-link {
    text-decoration: none;
    color: #1f1c2c;
    font-weight: bold;
}

@media only screen and (max-width: 400px) {
    .sign {
        width: 300px;   
    }
}

@media only screen and (max-width: 350px) {
    .sign {
        width: 250px;   
    }
}