* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/*@media only screen and (max-width: 1000px) {
  *:hover {
      all: unset !important;
  }
}*/
